<nav class="header navbar navbar-expand-lg">
  <div class="navbar-collapse">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">CONTACT</a>
      </li>
      <li class="nav-item button-item">
        <app-button text="LOGIN"></app-button>
      </li>
    </ul>
  </div>
</nav>
