<nav class="header navbar navbar-expand-lg">
  <img src="/assets/images/logo.svg" alt="Logo">
  <div class="navbar-collapse">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">CONTACT</a>
      </li>
      <li class="nav-item button-item">
        <app-button
          *ngIf="authService.isAuthenticated$ | async; else enquire_btn"
          btnType="button"
          kind="primary"
          text="ENQUIRE"
          (btnClick)="onClickEnquire()"
        ></app-button>

        <ng-template #enquire_btn
          ><app-button
            btnType="button"
            kind="primary"
            text="LOGIN"
            (btnClick)="onClickLogin()"
          ></app-button
        ></ng-template>
      </li>
    </ul>
  </div>
</nav>
