<form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="label">email</label>
    <input
      type="text"
      class="input"
      formControlName="email"
      [class.invalid]="
        registerForm.get('email')?.invalid &&
        (registerForm.get('email')?.dirty ||
          registerForm.get('email')?.touched ||
          isSubmitted)
      "
    />
  </div>
  <div class="field">
    <label class="label">password</label>
    <input
      type="password"
      class="input"
      formControlName="password"
      [class.invalid]="
        registerForm.get('password')?.invalid &&
        (registerForm.get('password')?.dirty ||
          registerForm.get('password')?.touched ||
          isSubmitted)
      "
    />
  </div>

  <div>
    <button type="submit" class="button" [disabled]="registerForm.get('email')?.invalid || registerForm.get('password')?.invalid">Login</button>
  </div>
</form>
{{ authService.isAuthenticated$ | async }}
