<div class="users-hero-section">
  <div>
    <p class="user-hero-breadcrumbs">Home <span [ngStyle]="{'color': '#000'}">/</span> Dashboard</p>
    <h1 class="user-hero-title">Users List</h1>
  </div>
  <app-button
    iconLeft="/assets/images/plus-icon.png"
    text="New User"
    kind="primary"
    (btnClick)="toggleModal()"
  ></app-button>
</div>
<div class="container users-card">
  <div class="users-card-inner">
    <div class="users-card-titles">
      <p class="users-card-title">User</p>
      <p class="users-card-title ">Actions</p>
    </div>
    <app-user-item
      *ngFor="let user of users; last as isLast"
      [isLast]="isLast"
      [user]="user"
      [isActive]="isCurrentUserActive(user)"
      (click)="selectUser(user)"
    ></app-user-item>
    <app-loading *ngIf="loading"></app-loading>
  </div>
  <app-user *ngIf="showSelectedUser" [user]="selectedUser" (close)="closeSelectedUserView()"></app-user>
</div>
<app-modal *ngIf="showModal" (close)="toggleModal()" [user]="selectedUser" [mode]="mode"></app-modal>
