.users-hero-section {
  height: 102px;
  width: 100%;
  background-color: #DEDEDE;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
}
.user-hero-breadcrumbs {
  color: #8E44AD;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
}

.user-hero-title {
  color: #34495E;
  font-size: 30px;
  line-height: 35px;
}

.users-card {
  padding-right: 12px; 
  border-radius: 10px;
  background-color: #FFF;
  margin-top: 30px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  position: relative;
}

.users-card-inner {
  padding: 15px;
}

.users-card-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.users-card-title {
  color: #7F8C8D;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}