<div class="users-hero-section">
  Users List
  <app-button
    iconLeft="/assets/images/plus-icon.png"
    text="New User"
    kind="primary"
    (btnClick)="toggleModal()"
  ></app-button>
</div>
<div class="container users-card">
  <div class="users-card-inner">
    <p class="users-card-title">User</p>
    <app-user-item
      *ngFor="let user of users; last as isLast"
      [isLast]="isLast"
      [user]="user"
      [isActive]="isCurrentUserActive(user)"
      (click)="selectUser(user)"
    ></app-user-item>
    <app-loading *ngIf="loading"></app-loading>
  </div>
  <app-user *ngIf="showSelectedUser" [user]="selectedUser" (close)="closeSelectedUserView()"></app-user>
</div>
<app-modal *ngIf="showModal" (close)="toggleModal()"></app-modal>
